<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jelenlegi készlet</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style-admin.css">
</head>

<body>

    <!-- INFO: felső fix sav INFO: -->
    <div class="container-fluid">
        <nav class="fixed-top navbar navbar-expand-sm bg-light navbar-dark d-flex justify-content-around">
            <div>
                <form action="/alapanyagok">
                    <button type="submit" class="btn btn-info ">Alapanyagok</button>
                </form>
            </div>
            <div>
                <!-- <form action="/termekek" method="get"> -->
                <form action="/termekek-adatlap" method="get">
                    <button type="submit" class="btn btn-info ">Termék adatok
                    </button>
                </form>
            </div>
            <div>
                <form action="/todo" method="get">
                    <button type="submit" class="btn btn-info">Teendők</button>
                </form>
            </div>
            <div>
                <form action="/statistics" method="get">
                    <button type="submit" class="btn btn-info">Statisztikák</button>
                </form>
            </div>
            <div>
                <form action="/admin" method="get">
                    <button type="submit" class="btn btn-danger ">Forgalom</button>
                </form>
            </div>
            <div>
                <form action="/visibleOrder" method="get">

                    <button class="btn btn-dark " id="visibleOrder">Sorrend változtatás</button>
                </form>
            </div>
            <div>
                <form action="/pultosokadmin" method="get">
                    <button type="submit" class="btn btn-dark ">Pultos admin</button>
                </form>
            </div>
            <div>
                <form action="/" method="get">
                    <button type="submit" class="btn btn-danger ">Kilépés</button>
                </form>
            </div>
        </nav>
        <br><br><br><br>
        <div id="adatok"></div>
    </div>
    <!-- INFO: felső fix sav INFO: -->

    <div class="container text-center">
        <div class="card bg-danger text-white">
            <h4 class="card-body">J E L E N L E G I K É S Z L E T</h4>
        </div>
        <br>
        <!-- <form action="/admin" method="get">
            <button type="submit" class="btn btn-primary mr-4 btn-lg">⚡ Vissza a menühöz ⚡ </button>
        </form><br> -->

        <h1>Jelenlegi készlet</h1>
        <h3 id="maiDatum"></h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NÉV</th>
                    <th>KISZERELÉS</th>
                    <th>GYÜJTŐ</th>
                    <th>JELENLEGI KÉSZLET</th>
                </tr>
            </thead>
            <tbody id="alapanyagData">
            </tbody>
        </table>
        <div id="adatok"></div>


    </div>
    <script src="jquery.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="isInStock.js"></script>
</body>

</html>