fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}
/* .top {
    width: 25em;
    height: 10em;
    background-color: blueviolet;
}
.bottom {
    width: 25em;
    height: 10em;
    background-color:burlywood ;
} */
/* .border {
    display: inline-block;
    width: 70px;
    height: 2em;
    margin: 6px;
  } */